{
  "form_list": [
    {
      "type": "text",
      "name": "cname",
      "label": "貴社名"
    },
    {
      "type": "text",
      "name": "cnamekana",
      "label": "貴社名（カナ）",
      "required": false,
      "validation_type": "kana"
    },
    {
      "type": "email",
      "name": "email",
      "label": "メールアドレス",
      "required": true,
      "validation_type": "email"
    },
    {
      "type": "email",
      "name": "email_kakunin",
      "label": "メールアドレス(確認)",
      "required": true,
      "validation_type": "email",
      "same_as": "email"
    },
    {
      "type": "text",
      "name": "zipcode",
      "label": "郵便番号",
      "required": false,
      "validation_type": "zipcode"
    },
    {
      "type": "text",
      "name": "tname",
      "label": "担当者名",
      "required": false,
      "validation_type": null
    },
    {
      "type": "checkbox",
      "name": "pp",
      "label": "利用規約",
      "value": "同意する",
      "required": true,
      "validation_type": null
    }
  ],
  "contact_page_path":"contact.php",
  "confirm_page_path":"confirm.php",
  "complete_page_path":"complete.php",
  "mail":
    {
      "email_form_name":"email",
      "title":"メールタイトル",
      "host":"smtp.gmail.com",
      "port":"587",
      "user_name":"sample@sample.co.jp",
      "password":"pass",
      "from":"sample@sample.co.jp",
      "from_name":"",
      "admin":"sample@sample.co.jp"
    }

}